<main>
    <section class="py-5 container">
        <div class="row py-lg-5 text-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Utopia Financial</h1>
                <p class="lead text-muted">Compare Cards</p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Card Name</th>
                            <th scope="col">Annual Fee</th>
                            <!-- <th scope="col">APR</th> -->
                            <th scope="col">Cash Back</th>
                            <th scope="col">Foodie Points</th>
                            <th scope="col">Late Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of cards; let i=index">
                            <td>{{x.id}}</td>
                            <td>${{x.annual_fee}}</td>
                            <!-- <td>{{x.apr | percent:'1.0-5'}}</td> -->
                            <td>{{x.cashBack | percent:'1.0-5'}}</td>
                            <td>{{x.foodie_pts | percent:'1.0-5'}}</td>
                            <td>${{x.late_fee}}</td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="this.totalCards == 0">
                    <mat-spinner diameter="55" style="margin:0 auto;"></mat-spinner>
                </div>

                <br><br>
                <p class="text-center">
                    <a routerLink="/cards" class="btn btn-primary my-2">Back to Cards</a>
                </p>

            </div>
        </div>

    </section>

</main>