<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

    <img src="assets/loan-approved.jpg">

    <main class="px-3">
        <br>
        <h1>Congratulations!</h1>
        <br>
        <p class="lead">Your loan application has been approved!<br>Check your inbox for a confirmation email with
            further details.</p>
        <br><br>
        <p class="lead">
            <a routerLink="/loans" class="btn btn-primary">Back to Loans</a>
        </p>
    </main>

</div>