<main>
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Utopia Financial</h1>
                <p class="lead text-muted">View Available Cards</p>

                <p>
                    <a routerLink="/cards/table" class="btn btn-primary my-2">Compare Cards</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div *ngFor="let i of index">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="assets/{{images[i]}}" alt="image">

                            <div class="card-body">
                                <h4>{{cards[i].id}}&nbsp;</h4>
                                <p class="card-text">
                                    <span *ngIf="i == 3; else elseBlock">
                                        Foodie Points: {{cards[i].foodie_pts | percent:'1.0-5'}}</span>
                                    <ng-template #elseBlock>
                                        Cash Back: {{cards[i].cashBack | percent:'1.0-5'}}
                                    </ng-template><br>
                                    Annual Fee: ${{cards[i].annual_fee}} <br>
                                    Late Fee: ${{cards[i].late_fee}}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            (click)="openModal(infoModal, i)">More Info</button>
                                        <button [routerLink]="['/cards/signup']" [queryParams]="{type: i}" type="button"
                                            class="btn btn-sm btn-outline-secondary">Sign Up</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</main>

<ng-template #infoModal let-c="close" let-d="dismiss">

    <div class="modal-dialog">
        <h4 class="text-center">Card Details</h4>

        <div class="modal-content">

            <div class="modal-header">
                <img src="assets/{{modalImage}}" width="100%" alt="image">
            </div>
            <div class="modal-body">
                <h4 class="modal-title">{{modalHeader}}</h4><br>

                <p>Annual Fee: ${{modalInfo[0]}} <br>Cash Back:
                    {{modalInfo[1] | percent:'1.0-5'}} <br>
                    Foodies Points: {{modalInfo[2] | percent:'1.0-5'}} <br>Late Fee: ${{modalInfo[3]}} </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">
                    Close
                </button>

            </div>
        </div>
    </div>

</ng-template>