<main>
    <section class="py-5 container">
        <div class="row py-lg-5 text-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Utopia Financial</h1>
                <p class="lead text-muted">Compare Loans</p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Loan Type</th>
                            <th scope="col">Minimum APR</th>
                            <th scope="col">Maximum APR</th>
                            <th scope="col">Minimum Term</th>
                            <th scope="col">Maximum Term</th>
                            <th scope="col">Late Fee</th>
                            <th scope="col">Secured</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of loans; let i=index">
                            <td>{{x.id}}</td>
                            <td>{{x.lowerRange | percent:'1.0-5'}}</td>
                            <td>{{x.upperRange | percent:'1.0-5'}}</td>
                            <td>{{x.termMin}} months</td>
                            <td>{{x.termMax}} months</td>
                            <td>${{x.lateFee}}</td>
                            <td>{{x.secured | yesNo}}</td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="this.totalLoans == 0">
                    <mat-spinner diameter="55" style="margin:0 auto;"></mat-spinner>
                </div>

                <br><br>
                <p class="text-center">
                    <a routerLink="/loans" class="btn btn-primary my-2">Back to Loans</a>
                </p>

            </div>
        </div>

    </section>

</main>