<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

    <p>&nbsp;</p>
    <img src="assets/pending.png">

    <main class="px-3">
        <br><br>
        <h1>Thank You!</h1>
        <br>
        <p class="lead">Your card application has been received.<br>Check your inbox for a confirmation email with
            further details.</p>
        <br><br>
        <p class="lead">
            <a routerLink="/cards" class="btn btn-primary">Back to Cards</a>
        </p>
    </main>

</div>