<header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">

            <!-- header links require login to view -->
            <div>
                <div *ngIf="this.authService.isAuthenticated()" ngbDropdown class="d-inline-block float-start">
                    <button class="navbar-toggler" ngbDropdownToggle>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div ngbDropdownMenu class="bg-light">
                        <button ngbDropdownItem routerLink="/">Home</button>
                        <button ngbDropdownItem routerLink="/cards">Credit & Debit Cards</button>
                        <button ngbDropdownItem routerLink="/loans">Loans</button>
                        <button ngbDropdownItem routerLink="/investing">Investing</button>
                    </div>
                </div>

                <a routerLink="/" class="navbar-brand d-flex align-items-center px-3">
                    <!-- bank icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-bank2" viewBox="0 0 16 16">
                        <path
                            d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z" />
                    </svg>
                    <strong>&nbsp;&nbsp;Utopia</strong>
                </a>
            </div>

            <div *ngIf="this.authService.isAuthenticated()" ngbDropdown class="d-inline-block">
                <button class="navbar-toggler" ngbDropdownToggle>
                    <!-- profile icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="lightGray"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span class="text-light">&nbsp;{{this.authService.name}}</span>
                </button>
                <div ngbDropdownMenu class="bg-light">
                    <button ngbDropdownItem>Profile</button>
                    <hr class="dropdown-divider">
                    <button ngbDropdownItem (click)="logout()">Log Out</button>
                </div>
            </div>


        </div>
    </div>
</header>