<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">

    <p>&nbsp;</p>
    <img src="assets/paid.jpg">

    <main class="px-3">
        <br><br>
        <h1>Payment Successful!</h1>
        <br>
        <p class="lead">Your loan payment has been received.<br>
            A confirmation email was sent to your inbox.</p>
        <br><br>
        <p class="lead">
            <a routerLink="/loans/status" class="btn btn-primary">Back to your loans</a>
        </p>
    </main>

</div>