<main>
    <section class="py-5 container">
        <div class="row text-center py-lg-5">
            <div class="col-lg-10 mx-auto">
                <h1 class="fw-light">Utopia Financial</h1>
                <p class="lead text-muted">Reset Password</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
              <div *ngIf="this.showFailure">
                  <div class="alert alert-danger">
                      Reset Failed! Incorrect Information
                  </div>
              </div>
              <div *ngIf="this.showSuccess">
                  <div class="alert alert-success">
                      Success! A new password has been sent to your email
                  </div>
              </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': f.username.errors }">
                      <div *ngIf="f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.maxlength">Username can be at most 16 characters</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors }">
                      <div *ngIf="f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email is not valid</div>
                        <div *ngIf="f.email.errors.maxlength">Email can be at most 62 characters</div>
                      </div>
                  </div>

                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="number" class="form-control" id="zipcode" formControlName="zipcode" [ngClass]="{ 'is-invalid': f.zipcode.errors }">
                        <div *ngIf="f.zipcode.errors" class="invalid-feedback">
                          <div *ngIf="f.zipcode.errors.required">Zip Code is required</div>
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-primary" type="submit">Reset</button>
                    <a routerLink="../login" class="btn btn-link">Cancel</a>

                </form>

            </div>
        </div>

      </section>
</main>
