<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Utopia Financial</h1>
        <p class="lead text-muted">Customer Portal</p>

      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
            <div class="card shadow-sm">
              <a href="/cards" class="text-decoration-none text-reset">
                <img src="assets/cards.jpg" width="100%" alt="image">

                <div class="card-body">
                  <h4 class="text-center">Credit & Debit Cards</h4>
                </div>
              </a>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <a href="/loans" class="text-decoration-none text-reset">
              <img src="assets/loans.jpg" width="100%" alt="image">

              <div class="card-body">
                <h4 class="text-center">Loans</h4>
              </div>
            </a>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <a href="/investing" class="text-decoration-none text-reset">
              <img src="assets/stocks.jpg" width="100%" alt="image">

              <div class="card-body">
                <h4 class="text-center">Investing</h4>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
