<main>
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Utopia Financial</h1>
                <p class="lead text-muted">View Available Loans</p>

                <p>
                    <a routerLink="/loans/table" class="btn btn-primary my-2">Compare Loans</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div *ngFor="let i of index">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="assets/{{images[i]}}" alt="image">

                            <div class="card-body">
                                <h4>{{loans[i].loanName}}</h4>
                                <p class="card-text">APR Range: {{loans[i].lowerRange | apr | percent:'1.0-2'}} -
                                    {{loans[i].upperRange | apr | percent:'1.0-2'}}
                                    <br>Term: {{loans[i].termMin}} - {{loans[i].termMax}} months
                                    <br>Secured: {{loans[i].secured | yesNo}}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                            (click)="openModal(infoModal, i)">More Info</button>
                                        <button [routerLink]="['/loans/signup']" [queryParams]="{type: i}" type="button"
                                            class="btn btn-sm btn-outline-secondary">Sign Up</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

<ng-template #infoModal let-c="close" let-d="dismiss">

    <div class="modal-dialog">
        <h4 class="text-center">Loan Details</h4>

        <div class="modal-content">

            <div class="modal-header">
                <img src="assets/{{modalImage}}" width="100%" alt="image">
            </div>
            <div class="modal-body">
                <h4 class="modal-title">{{modalHeader}}</h4><br>

                <p>
                    Maximum APR: {{modalInfo[0] | apr | percent:'1.0-2'}}
                    <br>Minimum APR: {{modalInfo[1] | apr | percent:'1.0-2'}}
                    <br>Maximum Term: {{modalInfo[2]}} months
                    <br>Minimum Term: {{modalInfo[3]}} months
                    <br>Late Fee: ${{modalInfo[4]}}
                    <br>Secured: {{modalInfo[5] | yesNo}}
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">
                    Close
                </button>

            </div>
        </div>
    </div>

</ng-template>